body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
}
h1{
    font-size:50px;
    color:
}
.orange-color{
    color:orange;
}
.flexible-container{
    display:flex;
    margin-bottom:100px;
}
.half-width{
    width:50%;
    margin-right:10px;
    padding-left:5%;
    padding-right:100px;
}
.half-width img{
    width:70%;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange, orangered);
    color:white;
   
    padding: 8px 25px;
    border-radius:8px;
}
.top-banner{
    background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
.dream-big{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.experience-item{
    width:40%;
    margin-left:5%;
    margin-right:5%;
    padding-left:5%;
    box-shadow:10px 10px 30px gray;
    border-radius:10px;
 

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
#baby-web-developer{
    border-left:10px solid blue;
  
}
#full-stack-developer{
    border-left:10px solid tomato;
  
}
footer{
    text-align:center;
}